# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [26]:
import pandas as pd

## imports for Python, Pandas

In [27]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [28]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [29]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [30]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [31]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
   {'code': 'EX', 'name': 'Education'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
   {'code': 'EX', 'name': 'Education'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocDate': '28-AUG-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'EntityID': '090224b081e545fb_1_0'},
   {'DocDate': '01-JUL-2013',
    'DocType': 'IP',
    'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'EntityID': '000442464_20130920111729'},
   {'DocDate': '22-NOV-2012',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'EntityID': '090224b0817b19e2_1_0'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
   {'code': 'ES', 'name': 'Secondary education'},
   {'code': 'BS', 'name': 'Public administration- Other social services'},
   {'code': 'ET', 'name': 'Tertiary education'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'code': 'BX',
    'name': 'Public Administration, Law, and Justice'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'EntityID': '000333037_20131024115616'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'EntityID': '000356161_20131024151611'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'EntityID': '000442464_20131031112136'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'EntityID': '000333037_20131031105716'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'EntityID': '000356161_20130305113209'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'EntityID': '000356161_20130305113716'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'code': 'BS',
    'name': 'Public administration- Other social services'},
   {'code': 'BZ', 'name': 'General public administration sector'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'code': '24', 'name': 'Other economic management'},
   {'code': '54', 'name': 'Social safety nets'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [4]:
import pandas as pd
import json
from pandas.io.json import json_normalize
l = []
json_df = pd.read_json('data/world_bank_projects.json')
for i in json_df['mjtheme_namecode']:
    k=json_normalize(i)

    #OK: normalize takes a semi structured json data into flat table
    #returns a dataframe
    #doesnt normalize takes the nested data and flattens it to one list?
    #these print statements were for debugging
    #print("printing k")
    #print(k)

    l.append(k)

print(l[0],"\n",l[1])

  code               name
0    8  Human development
1   11
   code                                   name
0    1                    Economic management
1    6  Social protection and risk management

In [6]:
import numpy as np
list1 = []
array = np.array(json_df['mjtheme_namecode'])

In [7]:
#[ get me each item_dict iterating for 
# each of the sublists in the array and then
# for each of the item_dict inside each sublist]

#oh ok its 
newlist = [item_dict for sublist in array for item_dict in sublist]

In [9]:
new_df = pd.DataFrame(newlist)

In [10]:
unique_name_df = new_df['name'].drop_duplicates()

In [16]:
unique_name_df

0                                 Human development
1
2                               Economic management
3             Social protection and risk management
4                             Trade and integration
5                          Public sector governance
6      Environment and natural resources management
8                       Social dev/gender/inclusion
11         Financial and private sector development
18                                Rural development
53                                Urban development
252                                     Rule of law
Name: name, dtype: object

In [12]:
unique_name_df = new_df.drop_duplicates()

In [13]:
unique_name_df

    code                                          name
0      8                             Human development
1     11
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
13     6
17     8
18    10                             Rural development
19     7
24     2
29     4
53     9                             Urban development
121   10
201    5
212    1
252    3                                   Rule of law
333    9
493    3

In [18]:
unique_name_df = new_df['name'].drop_duplicates()

In [24]:
unique_name_df

0                                 Human development
1
2                               Economic management
3             Social protection and risk management
4                             Trade and integration
5                          Public sector governance
6      Environment and natural resources management
8                       Social dev/gender/inclusion
11         Financial and private sector development
18                                Rural development
53                                Urban development
252                                     Rule of law
Name: name, dtype: object

In [19]:
final_name_df = unique_name_df[unique_name_df['name'] != ''] #not sure why this didnt work!!

KeyError: 'name'

In [20]:
new_df

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [30]:
this_df = new_df[new_df['name']!='']

In [35]:
final_df = this_df.drop_duplicates()
final_df

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [41]:
final_df.index = final_df['code']
final_df

     code                                          name
code
8       8                             Human development
1       1                           Economic management
6       6         Social protection and risk management
5       5                         Trade and integration
2       2                      Public sector governance
11     11  Environment and natural resources management
7       7                   Social dev/gender/inclusion
4       4      Financial and private sector development
10     10                             Rural development
9       9                             Urban development
3       3                                   Rule of law

In [44]:
new_dict = final_df.to_dict()

In [47]:
name_code_dict = new_dict['name']
name_code_dict

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [36]:
#now i can go ahead and use this as reference to fill in the last 
final_df['code']

0       8
2       1
3       6
4       5
5       2
6      11
8       7
11      4
18     10
53      9
252     3
Name: code, dtype: object

In [37]:
final_df['name']

0                                 Human development
2                               Economic management
3             Social protection and risk management
4                             Trade and integration
5                          Public sector governance
6      Environment and natural resources management
8                       Social dev/gender/inclusion
11         Financial and private sector development
18                                Rural development
53                                Urban development
252                                     Rule of law
Name: name, dtype: object

In [39]:
print("...",new_df.iloc[1,1],"...")

...  ...

In [ ]:
#drop rows with empty cells, measure what "empty" actually means
empty = new_df.iloc[1,1]
for line in new_df
    if new_df['name'] == empty

In [27]:
import ast
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

json.load(open('data/world_bank_projects.json'))
# load as Pandas dataframe, count values and output results
json_df = pd.read_json('data/world_bank_projects.json')
counts=json_df['countryshortname'].value_counts()
for i in range(10):
    print(counts.index[i])
    print(counts[i])

# use normalize, and loop through data.
#Section output is a df containing code and product name
l=[]
jdict=[]
for i in json_df['mjtheme_namecode']:
    k=json_normalize(i)
    l.append(k)

all_rows_df=pd.concat(l).dropna(how="any").drop_duplicates()
#drop rows with empty cells, measure what "empty" actually means

empty=all_rows_df.iloc[1,1]
u = all_rows_df
screen=u.loc[(u.name!=empty)]
code_df=screen.reset_index(drop=True)
# develop human readable dataframe (could have been dict)
# to reference for missing values

Indonesia
19
China
19
Vietnam
17
India
16
Yemen, Republic of
13
Morocco
12
Nepal
12
Bangladesh
12
Mozambique
11
Africa
11

In [28]:
import ast
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np


json.load(open('data/world_bank_projects.json'))

# load as Pandas dataframe, count values and output results
json_df = pd.read_json('data/world_bank_projects.json')

#print(json_df['countryshortname'])
#this showed us value counts it IS a frequency counter
#and it orders them !

print("----data frame: columns-------")
#printing the full dataframe to take a peak at all the info all the column names.
print(json_df.columns.values)
#print(json_df)


print("---------------")
print("counts=json_df['countryshortname'].value_counts()")
counts=json_df['countryshortname'].value_counts()

print("print(counts.index[i],counts[i])")

print("looks like index was reindexed to names")
for i in range(10):
    print(counts.index[i],counts[i])
print("--------------")

# use normalize, and loop through data.
#Section output is a df containing code and product name
l=[]


for i in json_df['mjtheme_namecode']:
    k=json_normalize(i)

    #OK: normalize takes a semi structured json data into flat table
    #returns a dataframe
    #doesnt normalize takes the nested data and flattens it to one list?
    #these print statements were for debugging
    #print("printing k")
    #print(k)

    l.append(k)


print("all_rows_df=pd.concat(l).dropna(how=any).drop_duplicates()")
print("print(all_rows_df)")


#THEY ARE ALL INDUVIDUAL DATAFRAMES so concating them is like merging them all together!!!
#then they did dropna: they had NaN labels and then they became blank

all_rows_df=pd.concat(l).dropna(how="any").drop_duplicates()
print(all_rows_df)


#THEY ARE ALL INDUVIDUAL DATAFRAMES so concating them is like merging them all together!!!
#then they did dropna: they had NaN labels and then they became blank

all_rows_df=pd.concat(l).dropna(how="any").drop_duplicates()
print(all_rows_df)


#drop rows with empty cells, measure what "empty" actually means
empty = all_rows_df.iloc[1,1]
u = all_rows_df
screen=u.loc[(u.name!=empty)]
code_df=screen.reset_index(drop=True)
print(" ")
print("code_df")
print(" ")

print(code_df)

for i in code_df.index:
    code_df.loc[i,'sort_object'] = str(code_df.loc[i,'code'])
code_df['code'] = code_df['code'].apply(int)
code_df.sort_values('code',inplace=True)
code_df.index = code_df['code']
code_df = code_df.drop(['code','sort_object'], 1)
print(code_df)
print(' ')


count = 0
count_corr = 0

json_df['mjtheme_corrected_namecode'] = json_df['mjtheme_namecode'].copy()

for k in range(len(json_df.index)):
    cell = []
    for i in json_df.loc[k, 'mjtheme_namecode']:
        x = i.keys()
        y = i.values()
        y = list(y)
        x = list(x)
        #print('here, y and empty')
        #print(y,' ',empty)
        if y == empty:
            y = code_df.loc[int(y[0]),'name']
        #new="{u"+str(x[0])+"':u'"+str(y[0])+"', u '"+str(x[1])+"': u'"+str(y[1])+"'}"
        new1 = ast.literal_eval("{u'"+str(x[0])+"': u'"+str(y[0])+"', u'"+str(x[1])+"': u'"+str(y[1])+"'}")
        cell.append(new1)

json_df.at[k,'mjtheme_corrected_namecode'] = cell

print(cell)

----data frame: columns-------
['_id' 'approvalfy' 'board_approval_month' 'boardapprovaldate' 'borrower'
 'closingdate' 'country_namecode' 'countrycode' 'countryname'
 'countryshortname' 'docty' 'envassesmentcategorycode' 'grantamt'
 'ibrdcommamt' 'id' 'idacommamt' 'impagency' 'lendinginstr'
 'lendinginstrtype' 'lendprojectcost' 'majorsector_percent'
 'mjsector_namecode' 'mjtheme' 'mjtheme_namecode' 'mjthemecode' 'prodline'
 'prodlinetext' 'productlinetype' 'project_abstract' 'project_name'
 'projectdocs' 'projectfinancialtype' 'projectstatusdisplay' 'regionname'
 'sector' 'sector1' 'sector2' 'sector3' 'sector4' 'sector_namecode'
 'sectorcode' 'source' 'status' 'supplementprojectflg' 'theme1'
 'theme_namecode' 'themecode' 'totalamt' 'totalcommamt' 'url']
---------------
counts=json_df['countryshortname'].value_counts()
print(counts.index[i],counts[i])
looks like index was reindexed to names
Indonesia 19
China 19
Vietnam 17
India 16
Yemen, Republic of 13
Morocco 12
Nepal 12
Bangladesh 12
Mozambique 11
Africa 11
--------------
all_rows_df=pd.concat(l).dropna(how=any).drop_duplicates()
print(all_rows_df)
  code                                          name
0    8                             Human development
1   11
0    1                           Economic management
1    6         Social protection and risk management
0    5                         Trade and integration
1    2                      Public sector governance
2   11  Environment and natural resources management
0    7                   Social dev/gender/inclusion
1    4      Financial and private sector development
1    6
1    8
0   10                             Rural development
1    7
1    2
0    4
0    9                             Urban development
1   10
1    5
1    1
1    3                                   Rule of law
0    9
1    3
  code                                          name
0    8                             Human development
1   11
0    1                           Economic management
1    6         Social protection and risk management
0    5                         Trade and integration
1    2                      Public sector governance
2   11  Environment and natural resources management
0    7                   Social dev/gender/inclusion
1    4      Financial and private sector development
1    6
1    8
0   10                             Rural development
1    7
1    2
0    4
0    9                             Urban development
1   10
1    5
1    1
1    3                                   Rule of law
0    9
1    3

code_df

   code                                          name
0     8                             Human development
1     1                           Economic management
2     6         Social protection and risk management
3     5                         Trade and integration
4     2                      Public sector governance
5    11  Environment and natural resources management
6     7                   Social dev/gender/inclusion
7     4      Financial and private sector development
8    10                             Rural development
9     9                             Urban development
10    3                                   Rule of law
                                              name
code
1                              Economic management
2                         Public sector governance
3                                      Rule of law
4         Financial and private sector development
5                            Trade and integration
6            Social protection and risk management
7                      Social dev/gender/inclusion
8                                Human development
9                                Urban development
10                               Rural development
11    Environment and natural resources management

[{'code': '9', 'name': 'Urban development'}, {'code': '8', 'name': 'Human development'}, {'code': '5', 'name': 'Trade and integration'}, {'code': '4', 'name': 'Financial and private sector development'}]